@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  /* display: flex; */
  max-width: 800px;
  margin: auto;
  background-color: aqua;
  border-radius: 21px;
}
body {
  padding-top: 5rem;
}
.navbar h2 {
  font-size: 21px;
  padding: 5px;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: aqua;
}
.book-list {
  margin-top: 10px;
  margin-left: 35px;
  display: flex;
  font-size: large;
  flex-direction: column;
}
